.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #660066;
    color: #ffcc00;
    border-radius: 25px;
    font-size: small;
    cursor: pointer;
    padding: 10px;
    flex: 2 0 auto
}